// Código de Nav acá
nav{
	.flex(column, center, center);
	padding: 15px;
	background-color: @nav-bg;
	ul {
		padding-top: 10px;
		width: 40%;
		.flex(row, space-around, center);
		a{
	  		font-size: 15px;
	  		color: @nav-font;
	  		text-decoration: none;	
		}
		@media @phone {
			width: 80%;
		}
 	}
}
	
// }
// nav ul{
// 	display: flex;
// 	flex-direction: row;
// 	padding: 10px;
// }